@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Yatra+One&display=swap');

@font-face {
    font-family: 'Typewriter';
    src: url('fontes/JMH Typewriter.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Droid Sans", "Calibri", sans-serif;
}

body {
    background-color: #f5fffd;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1f4d4d;
    justify-content: space-between;
}

.header h1 {
    padding: 5px 20px 5px 20px;
    color: aliceblue;
    font-family: 'Typewriter';
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 3px;
}

.header form {
    display: flex;
    padding: 10px 20px 10px 20px;
    max-height: 30PX;
}

.navbar {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover {
    text-decoration: underline;
}

main {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.destaque-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f4d4d;
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
}

.destaque-container h2 {
    font-family: 'Times New Roman';
    font-weight: lighter;
    margin: 0 0 10px 0;
}

.destaque-container p {
    align-self: self-end;
    max-width: 80%;
    text-align: right;
    margin-right: 10px;
    font-style: italic;
}

.descricao-container {
    color: #1f4d4d;
}