/*
CORES:
#f5fffd - Branco ( para fundos )
#1f4d4d - Verde
#f0f8ff - Branco ( para textos )
#7c3f58 - Roxo
#f9a875 - Laranja
*/



@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Typewriter';
    src: url('../fontes/JMH Typewriter.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Century Gothic", "Open Sans", "Droid Sans", "Calibri", sans-serif;
}

body {
    background-color: #f5fffd;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1f4d4d;
    justify-content: space-between;
}

.header h1 {
    padding: 5px 20px 5px 20px;
    color: #f0f8ff;
    font-family: 'Typewriter';
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 3px;
}

.divBusca {
    background-color: #2F4F4F;
    border: solid 1px;
    border-radius: 15px;
    height: 40px; 
    margin: 10px 20px;
}
  
input#txtBusca{
    width: 300px;
    background-color: transparent;
    background-image: url("img/pngwing.com.png");
    background-repeat: no-repeat;
    font-style: italic;
    font-size: 18px;
    border: none;
    display: flex;
    padding: 10px 20px 10px 20px;
    max-height: 30px;
    color: #f0f8ff;
}

::placeholder {
    color: #f0f8ff;
    opacity: 1; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #f0f8ff;
}

textarea:focus, input:focus{
    outline: none;
}

.navbar {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
  
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #f0f8ff;
}

.navbar a:hover {
    text-decoration: underline;
}

/* FIM DA ESTILIZAÇÃO DO HEADER */

main {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.ciclos-container {
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.ciclos-container h2 {
    flex-basis: 100%;
    text-align: center;
    color: #1f4d4d;
    font-size: 27px;
    font-weight: bold;
}

.tomates-ciclos {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.tomates-ciclos img {
    margin: 4px;
}

.ciclos-container p:nth-of-type(1) {
    flex-basis: 100%;
    text-align: center;
    color: #1f4d4d;
    font-size: 0.8em;
}

.ciclos-container p:nth-of-type(2) {
    text-align: center;
    color: #1f4d4d;
    border-top: 1px dotted #1f4d4d;
    margin: 10px auto 0 auto;
}

.mainPomodoro-container {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
}

.mainPomodoro-container h2 {
    flex-basis: 100%;
    text-align: center;
    color: #1f4d4d;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: light;
}

.mainPomodoro-container .temporizador {
    flex-basis: 100%;
}

.mainPomodoro-container .buttons-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;

    padding: 10px;
    background-color: #2F4F4F;
    margin: 10px 20px;
    border: none;
    border-radius: 30px;
    color: #f0f8ff;

    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 2px;

    height: fit-content;
}

button:hover {
    cursor: pointer;
}

.mainPomodoro-container p {
    color: #1f4d4d;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.notaPomodoro-container {
    flex-basis: 20%;
    display: flex;
    align-items: center;
}

.mainNotas-container {
    background-color: #1f4d4d;
    border-radius: 5px;
    padding: 15px;
    margin: 0 20px;
    max-width: 250px;
    height: fit-content;
}

.mainNotas-container h2 {
    color: #f0f8ff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.mainNotas-container .tarefas-container {
    background-color: #fff6d3;
    color: #7c3f58;
    padding: 20px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    overflow-y: auto;
}

/* Scrollbar customizada */
.tarefas-container::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.tarefas-container::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #fff6d3;
}
  
.tarefas-container::-webkit-scrollbar-track:hover {
    background-color: #d3ceb9;
}
  
.tarefas-container::-webkit-scrollbar-track:active {
    background-color: #d3ceb9;
}
  
.tarefas-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #F8C98D;
}
  
.tarefas-container::-webkit-scrollbar-thumb:hover {
    background-color: #CFA876;
}
  
.tarefas-container::-webkit-scrollbar-thumb:active {
    background-color: #CFA56D;
}
/* Scrollbar customizada (fim)*/

.mainNotas-container .tarefas-container ul {
    list-style-type: none;
}

.mainNotas-container .tarefas-container li button {
    margin: 0;
    background-color: #7c3f58;
}

.mainNotas-container .tarefas-container li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
}

.mainNotas-container .tarefas-container li p{
    flex-basis: 100%;
}